{% extends 'base/index.html' %}

{% block content %}
    {% if not user_register_is_valid %}
        <div class="row d_flex">
            <div class="col-md-6">
                <form id="request" class="main_form"  data-aos="fade-right" action="/signup/" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.first_name }}
                        </div>
                        <div class="col-md-12">
                            {{ form.last_name }}
                        </div>
                        <div class="col-md-12">
                            {{ form.identification }}
                        </div>
                        <div class="col-md-12">
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                        <div class="col-md-12">
                            {{ form.email_confirm }}
                        </div>
                        <div class="col-md-12">
                            {{ form.password }}
                            {{ form.password_confirm.errors }}
                        </div>
                        <div class="col-md-12">
                            {{ form.password_confirm }}
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn">Sign-Up!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="row d_flex">
            <div class="col-md-6">
                <h2>User was created. <a style="text-decoration: underline; color: red;" href="/login">Login now!</a></h2>
            </div>
        </div>
    {% endif %}
{% endblock content %}
