{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Marvel Project</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <!--[if lt IE 9]>
      <script src="{% static 'https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="{% static 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#"/></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <div class="header">
         <div class="container-fluid">
            <div class="row d_flex">
               <div class=" col-md-2 col-sm-3 logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                           <a href="/"><img src="{% static 'images/logo.png' %}" alt="#" /></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-8 col-md-10 col-sm-9">
                  <nav class="navigation navbar navbar-expand-md navbar-dark ">
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarsExample04">
                        {% if user.is_authenticated %}
                        <ul class="navbar-nav mr-auto">
                           <li class="nav-item">
                              <a class="nav-link" href="/comics/">All comics</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/comics/favorites/">Favorite comics</a>
                           </li>
                        </ul>
                        {% endif %}
                     </div>
                  </nav>
               </div>
               {% if not user.is_authenticated %}
                  <div class="col-md-2 d_none">
                     <ul class="email text_align_right">
                        <li><a href="/login">Login</a></li> | 
                        <li><a href="/signup/">Sign Up</a></li>
                     </ul>
                  </div>
               {% else %}
                  <div class="col-md-2 d_none">
                     <ul class="email text_align_right">
                        <li><a href="/logout/">Logout</a></li>
                     </ul>
                  </div>
               {% endif %}
            </div>
         </div>
      </div>
      <!-- end header inner -->
      <!-- end header -->
      <!-- top -->
      <div class="full_bg">
         <div class="contact">
            <div class="container">
               {% include 'base/layouts/messages.html' %}
               {% block content %}
                  <div class="row" style="padding: 200px; padding-top: 0px; margin: auto;">
                     <img src="{% static 'images/banner.png' %}" alt="">
                  </div>
               {% endblock content %}
            </div>
         </div>
      </div>
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2022 All Rights Reserved. Developed by 
                           <a  target="_blank" href="https://www.linkedin.com/in/carlos-oliveros-2a347358/">Carlos Oliveros
                           </a>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
      <!-- sidebar -->
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <script>  AOS.init();</script>
   </body>
</html>