{% extends 'base/index.html' %}

{% block content %}
<div class="row d_flex">
    <div class="col-md-6">
        <form id="request" class="main_form"  data-aos="fade-right" action="/login/" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    {{ form.email }}
                </div>
                <div class="col-md-12">
                    {{ form.password }}
                </div>
                <div class="col-md-12">
                    <button class="send_btn">Login!</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
