{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <span style="font-size: 34px; color:white; text-decoration: underline;">{{ message }}</span>
            </li>
        {% endfor %}
    </ul>
{% endif %}
