{% extends 'base/index.html' %}

{% block content %}
    {% for the_comic in comic.data.results %}
        <div class="row d_flex">
            <div class="col-md-6">
                <div class="titlepage text_align_left">
                    <h2>{{ the_comic.title }}</h2>
                    <p>
                        {{ the_comic.description }}
                    </p>
                    <br>
                    <p>
                        <a href="/comics/favorites/create/{{ the_comic.id }}" title="Favorite"><i class="fa fa-heart fa-lg" style="color: white;"></i></a>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img aos-init aos-animate" data-aos="fade-left">
                    <figure><img src="{{ the_comic.thumbnail.path|add:'.'|add:the_comic.thumbnail.extension }}" alt="#"></figure>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
