{% extends 'base/index.html' %}

{% block content %}
<div class="titlepage text_align_center ">
    <h2>FAVORITE COMICS!</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for comic in comics %}
                <tr>
                    <td>
                        <a href="/comics/{{ comic.comic_id }}" style="color: white;">{{ comic.title }}</a>
                    </td>
                    <td>
                        <a href="/comics/{{ comic.comic_id }}"><img src="{{ comic.image_url }}" alt="" style="width: 100px;"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 </div>
{% endblock content %}
