{% extends 'base/index.html' %}

{% block content %}
<div class="titlepage text_align_center ">
    <h2>COMICS</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for comic in comics.data.results %}
                <tr>
                    <td>
                        <a href="/comics/{{ comic.id }}" style="color: white;">{{ comic.title }}</a>
                    </td>
                    <td>
                        <a href="/comics/{{ comic.id }}">
                            <img src="{{ comic.thumbnail.path|add:'.'|add:comic.thumbnail.extension }}" alt="" style="width: 100px;">
                        </a>
                    </td>
                    <td>
                        <a href="/comics/favorites/create/{{ comic.id }}" title="Favorite"><i class="fa fa-heart fa-lg" style="color: white;"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="color: white;">
        {% if comics.data.offset > 0 %}
            <a href="/comics?offset={{ comics.data.offset|add:-1 }}" style="color: white;"">Previus</a> ... 
        {% endif %}
        {{ comics.data.offset }} ...
        <a href="/comics?offset={{ comics.data.offset|add:1 }}" style="color: white;">Next</a>
    </div>
 </div>
{% endblock content %}
